<!doctype html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Patients</title>
</head>
<body>
<section layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="h3 mb-0">Patients</h1>
        <a class="btn btn-primary" th:href="@{/patients/new}">Nouveau patient</a>
    </div>

    <div class="card">
        <div class="table-responsive">
            <table class="table align-middle mb-0">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date de naissance</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p : ${patients}">
                    <td th:text="${p.id}">1</td>
                    <td th:text="${p.nom}">Doe</td>
                    <td th:text="${p.prenom}">John</td>
                    <td th:text="${p.dateDeNaissance}">1970-01-01</td>
                    <td class="text-end">
                        <a class="btn btn-sm btn-primary" th:href="@{|/patients/${p.id}|}">
                            Ouvrir
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>
